body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h2 {
text-align: center;
}

form {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

input {
flex: 1;
margin-right: 10px;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}

ul {
list-style-type: none;
padding: 0;
}

li {
margin-bottom: 10px;
border: 1px solid #ddd;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.delete-button,
.update-button {
background-color: #ff3333;
color: white;
border: none;
padding: 5px 10px;
text-align: center;
text-decoration: none;
font-size: 14px;
cursor: pointer;
}

.delete-button:hover {
background-color: #cc0000;
}

.update-button {
background-color: #4CAF50;
margin-right: 5px;
}

.update-button:hover {
background-color: #45a049;
}

.task-name {
flex: 1; /* Added this line */
margin-right: 10px; /* Adjusted this line */
}